name: Patch release

on:
  schedule:
    - cron: '0 23 * * 5' # At 23:00 on Friday

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm ci
      - run: npm run build
      - run: npm run test

      - name: Configure git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com

      - name: Update dist
        run: |
          if ! git diff --quiet -- dist/index.js; then
            git add dist/index.js
            git commit -m 'chore(dist): auto-update by github-actions [skip ci]'
          fi

      - name: Prepare
        id: prepare
        run: |
          latest="$(git describe --tags --abbrev=0 --match='v*.*.*')"
          if ! git diff --quiet "${latest}" dist/index.js; then
            HOMEBREW_NO_AUTO_UPDATE=1 \
              brew install git-chglog/git-chglog/git-chglog

            npm run release patch
            next="v$(jq -r .version package.json)"
            git push origin main
            git push origin "${next}"
            git push -f origin "${next%%.*}"

            git for-each-ref "refs/tags/${next}" --format='%(contents:body)' \
              > RELEASENOTES.md
            echo "::set-output name=tag::${next}"
          fi

      - name: Release
        if: startsWith(steps.prepare.outputs.tag, 'v')
        uses: softprops/action-gh-release@v1
        with:
          body_path: RELEASENOTES.md
          name: ${{ steps.prepare.outputs.tag }}
          tag_name: ${{ steps.prepare.outputs.tag }}
