name: Test
on:
  push:
    branches: main
    paths:
      - 'dist/**'
      - '!**/*.md'
      - action.yml
  workflow_dispatch:
permissions:
  contents: read
jobs:
  non-latest-runners:
    if: github.actor != 'nektos/act'
    strategy:
      matrix:
        runner:
          - ubuntu-20.04
          - windows-2019
          - macos-13
          - macos-11
      fail-fast: false
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v3
      - name: Setup TeX Live
        uses: ./
        with:
          cache: false
      - run: tlmgr version
  save-cache:
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup TeX Live
        uses: ./
        continue-on-error: true
  restore-cache:
    needs: save-cache
    if: '!cancelled()'
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup TeX Live
        id: texlive
        uses: ./
      - shell: bash
        run: |
          [[ "${CACHE_HIT}" == true ]]
        env:
          CACHE_HIT: ${{ fromJSON(steps.texlive.outputs.cache-hit) }}
  delete-caches:
    needs: restore-cache
    if: github.actor != 'nektos/act'
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: read
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - uses: actions/github-script@v6
        with:
          script: |
            await require('./tests/delete-caches.cjs')({
              context,
              core,
              github,
            });
  install-packages:
    strategy:
      matrix:
        os: [ubuntu, windows, macos]
      fail-fast: false
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup TeX Live
        uses: ./
        with:
          cache: false
          package-file: tests/fixtures/tl_packages
          packages: latex-bin
      - run: latex -version
